<!DOCTYPE html>
<html>
{% extends 'base.html'%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">


{% block body %}
	<title> Talks </title>

{% if talk_list %}
<title> Talks </title>
  <div class="head">
    <div class="headerobjectswrapper">

        <header>Talks</header>
    </div></div>
    
    <div class="rowl">
    <div class="row">
{% for talk in talk_list %}
      <div class="col-md-8">        
        <div class="panel panel-default  panel--styled">
          <div class="panel-body">
            <div class="col-md-12 panelTop">  
              <div class="col-md-4">  
              <div class="embed-responsive embed-responsive-4by3">  <img class="img-responsive" src="{{talk.cover.url}}" alt=""/>
              </div></div>
              <div class="col-md-8">  
                <h2>{{talk}}</h2>
                <p>{{talk.body}}.</p>
              </div>
            </div>
            
            <div class="col-md-12 panelBottom">
              <div class="col-md-4 text-center">
                <button> View </button>           
              </div>
              <div class="col-md-4 text-left">
                <h5>Date <span class="itemPrice">{{talk.date}}.</span></h5>
              </div>
              
              </div>
            </div>
          </div>
        </div>
     
  {% endfor %}
 </div>
</div>
    
  


{% else %}
<h3>No talks here</h3>


{% endif %}



{% endblock %}


