<!DOCTYPE html>
<html>
{% extends 'base.html'%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">


{% block body %}
	<title> Ngos </title>
<div class="head">
    <div class="headerobjectswrapper">

        <header>NGOs</header>
    </div></div>
{% if object_list %}
<p></p>

    <div class="container">
        
{% for ngo in object_list %}


             
                        <img class="img-circle" id="img-org" src="{{ngo.ngo_pic.url}}" />
                        <img class="img-circle" id="img-org" src="{{ngo.ngo_pic.url}}" />
         
                        


	{% endfor %}


             
             
        </div>
        
</section>

{% else %}
	<h3>No Ngos here</h3>


{% endif %}



{% endblock %}


