{% extends 'base.html'%}


{% block body %}

	<title> Story </title>

<div class="box">
   <div align="center">
    	<h4 class="text-center">{{story}}</h4>

              
    						<img class="img-responsive" alt="Cinque Terre" id="img-d" float="center" src="{{story.cover.url}}" >
    			
                <div class="info">
                <a href="" class="btn">{{story.cause}}</a>
                    <a href="" class="btn">{{story.ngo}}</a><br>
                    
                    <p class="text-center">{{story.body}}</p>
                  
                    
                </div>
            </div>
            </div>
        
            
{% include 'story/footer.html' %}


{% endblock %}