
/* content */


.bod{
    border-radius:2px; 
}

#footer{
   
}

.col-xs-8{
    padding-top: 10px;
float: right;

}
#fright{
    float: right;
    

}


h4{color:#AACD6E;}

/* navbar */

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 4px 0 #AACD6E; }

nav.navbar-findcond a { color: #AACD6E; }
nav.navbar-findcond ul.navbar-nav a { color: #AACD6E; border-style: solid; border-width: 0 0 4px 0; border-color: #AACD6E; }
nav.navbar-findcond ul.navbar-nav a.foot { color: #AACD6E; border-style: solid; border-width: 4px 0 0 0; border-color: #AACD6E; }

nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #fff; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #fff; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #fff; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #AACD6E; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #AACD6E; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #AACD6E; color: #AACD6E; }
nav.navbar-findcond span.badge { background: #AACD6E; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #AACD6E; }





/* detail content style */


body {padding-top:50px;}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 20px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 28px;
    padding-top: 10px;
    text-align: center;
}
.info > a {
	align-self: right;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: 
    transition: all 0.5s ease 0s;

}
.info > a:hover {
    background-color: #84B1ED;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}


/* img hover */

#ngo{
    position: absolute;
    right:12px;
}
#post{
    border:none;
    float:left;
    align-content: center;
;}
#img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
   object-fit: cover;
   width: 86%;
   height: 200px;

}

#img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}





/* list content style */


@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{font-family: 'Open Sans', sans-serif; padding:100px;background: #fcfcfc;}


/* PANEL */



.left-panel .panel-default{border-bottom-left-radius:7px; border-bottom-right-radius:7px; border-bottom:2px #DDD solid;border: 0 0 0 0;}
.left-panel .panel-default .panel-body {border: none; padding:0; }
.left-panel .panel-default .panel-body .col-md-12{margin:0; padding:0;border: none;}
.left-panel .panel-default .panel-body .thumbnail{border:none; margin:0; padding:0; position:relative;}
.left-panel .panel:hover img {opacity:1;}
.left-panel .panel-default .panel-body .icerik-bilgi{margin:10px;}
.icerik-bilgi .btn-primary{float:right; margin-bottom:30px;}
.icerik-bilgi h2{margin-bottom:30px; color:#333;}
.icerik-bilgi h2:hover{color:#E74C3C; text-decoration:none;}
.icerik-bilgi a:hover{text-decoration:none;}
.icerik-bilgi p{margin-bottom:30px; line-height:25px; font-size:16px;}
.icerik-bilgi .btn-group{float:center;}
.btn-group a{font-size:26px; color:#CCC;}
.btn-group .btn-facebook:hover{color:#3B5998;}
.btn-group .btn-twitter:hover{color:#55ACEE;}
.btn-group .btn-google:hover{color:#DD4B39;}


#search-ngo >a{
    color:#6c7a89;
}

.panel{
    width: 62%;
    top:2%;
    border-collapse: separate;
    border-spacing: 2px;
  border-color: #eee;
box-shadow: 1px 1px 1px 1px #eee;
overflow-y:hidden;
overflow-x: hidden;
}
.panel-body{
    align-content: center;
    float: center;
}

.card-block{
    margin-bottom: 10px;
    
}
#panel-right{
    position: fixed;
    z-index: 2;
    width: 6%;
    right: 1%;
    top:16%;
}

#panel-middle{
    position: fixed;
    z-index: 3;
    width: 30%;
    right: 8%;
    top:11%;
    overflow-y: scroll;

}
.panel .panel-default{
    z-index: 2;
    float: right;
    width: 10%;
}
/*.card-block img:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}*/






    

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
/*.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}*/