<!DOCTYPE html>
<html>
{% extends 'story/base.html'%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'story/style.css'%}">


{% block body %}
	<title> Home </title>

{% if object_list %}
<div class="panel">

       <div class="container">
<div class="col-md-12">
<p><p>
{% for story in object_list %}
           
<div class="card-block">
    						<a href="{% url 'story:detail' story.id %}"><p>{{story.story_title}}</p></a>
                           
                            <img class="img-responsive" alt="Cinque Terre" id="img" float="center" src="{{story.cover.url}}" >
                            
    						<p>{{story.body}}</p>
    						
					</div>		


	{% endfor %}
</div> </div></p></p></div></div></div>
{% else %}
	<h3>No stories here</h3>
{% endif %}


{% include 'story/footer.html' %}
{% endblock %}


