<!DOCTYPE html>
<html>
{% extends 'story/base.html'%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'story/style.css'%}">


{% block body %}
	<title> Home </title>

{% if object_list %}
<div class="panel">

       <div class="container">
<div class="col-md-12">
<p><p>
{% for story in object_list %}
           
<div class="card-block">
    					<h1>	<a href="{% url 'story:detail' story.id %}"><p>{{story.story_title}}</p></a></h1>
                           <p>{{story.body}}</p>
                            <img class="img-responsive" alt="Cinque Terre" id="img" float="center" src="{{story.cover.url}}" >
                            
    						
    						
					</div>		
<span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span></div>  
<hr>
	{% endfor %}
</div> </div></p></p></div></div></div>
{% else %}
	<h3>No stories here</h3>
{% endif %}
<div class="panel panel-default" id="panel-middle">

some text
</div>

{% include 'story/footer.html' %}
{% endblock %}


