<!DOCTYPE html>
<html>
{% extends 'story/base.html'%}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'story/style.css'%}">


{% block body %}
	<title> Home </title>
<div id="contentin" align="center">
{% if object_list %}

<div class="container">
<ul class="timeline">
{% for story in object_list %}


    <div class="left-panel" >
    <div class="col-lg-4 col-md-4 col-sm-2" >
    	    <div class="panel panel-default" id="post">
    		    <div class="panel-body">
    				<div class="col-md-12" >
    					
    					<div class="icerik-bilgi">
    						<a href="#"><h4><a href="{% url 'story:detail' story.id %}">{{story.story_title}}</a></h4></a>
                            <div class="thumbnail" id="img">
                            <img class="img-responsive" src="{{story.cover.url}}" >
                            </div>
    						<p>{{story.body}}</p>
    						<div class="btn-group">
    							<a class="btn btn-social btn-facebook" href="#" data-toggle="tooltip" title="Share Facebook"><i class="fa fa-facebook"></i></a>
    							<a class="btn btn-social btn-twitter" href="#" data-toggle="tooltip" title="Share Twitter"><i class="fa fa-twitter"></i></a>
    							<a class="btn btn-social btn-google" href="#" data-toggle="tooltip" title="Share Google"><i class="fa fa-google"></i></a>
    						</div>
							<div class="info">   
							<a class="btn">Read More</a>
                            <a href="{% url 'story:delete-story' story.id %}" class="btn">Delete</a>    						</div> 
    						 </a>
    					</div>
    				</div>
    			</div>
    		</div>
        </div><br>
	
        
          

	{% endfor %}
</div>
</ul>	
</div>
<div class="bod">Here</div>
{% else %}
	<h3>No stories here</h3>
{% endif %}


{% include 'story/footer.html' %}
{% endblock %}
</div>

</html>