{% extends 'story/base.html'%}


{% block body %}

	<title>Orgs </title>

<div class="row">
{% for ngo in org_list %}
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      {{ngo.ngo_name}}
    </a>
  </div>
{%endfor%}
{% for story in object_list %}
           

                            <img class="img-rounded" alt="Cinque Terre" id="img-org" float="center" src="{{story.cover.url}}" >
                            
    						


	{% endfor %}



  {% include 'story/footer.html' %}



{% endblock %}